<?xml version="1.0" encoding="utf-8"?>
<!-- Debug only: lets `adb shell dpm remove-active-admin` remove the device owner. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:testOnly="true" tools:ignore="HardcodedDebugMode" />
</manifest>
